.chart {
    -fx-background-image: url("./background.png");
    -fx-padding: 15 25 15 15;
}
.chart-plot-background {
    -fx-background-color: red;
    -fx-background-image: url("./chart-background.png"), url("./graph-gridlines.png");
    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat, repeat;
    -fx-background-position: 0% 0%, 0% 100%;
    -fx-border-color: black black transparent transparent;
}

.chart-title {
  -fx-text-fill: white;
  -fx-font-size: 1.6em;
}

.default-color0.chart-area-symbol {
    -fx-background-color: #66b0ff;
/*    -fx-padding: 0;*/
}
.default-color1.chart-area-symbol {
    -fx-background-color: #ca99ff;
/*    -fx-padding: 0;*/
}
.default-color2.chart-area-symbol {
    -fx-background-color: #4d6680;
/*    -fx-padding: 0;*/
}
.default-color3.chart-area-symbol {
    -fx-background-color: #ff4d4d;
/*    -fx-padding: 0;*/
}
.default-color4.chart-area-symbol {
    -fx-background-color: #ffa366;
/*    -fx-padding: 0;*/
}

.default-color0.chart-series-area-line { 
    -fx-stroke: #ffddcc; 
    -fx-stroke-width: 1px; 
}
.default-color1.chart-series-area-line { 
    -fx-stroke: #f2e6ff; 
    -fx-stroke-width: 1px; 
}
.default-color2.chart-series-area-line { 
    -fx-stroke: #dda0dd; 
    -fx-stroke-width: 1px; 
}
.default-color3.chart-series-area-line { 
    -fx-stroke: #e6f2ff; 
    -fx-stroke-width: 1px; 
}
.default-color4.chart-series-area-line { 
    -fx-stroke: #ffe0cc; 
    -fx-stroke-width: 1px; 
}


.default-color0.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #66b0ff, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.default-color1.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #ca99ff, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.default-color2.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #4d6680, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.default-color3.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #ff4d4d, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.default-color4.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #ffa366, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}


.axis {
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-tick-length: 3;
    -fx-minor-tick-length: 0;
    -fx-border-color: transparent;

}
.axis:bottom {
    -fx-border-color: black transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent black transparent transparent;
}
.axis Text{
    -fx-fill: white;
}
.tick-mark {
    -fx-font-size: 10px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1 );
}



/*******************************************************************************
 *                                                                             *
 * BarChart                                                                    *
 *                                                                             *
 ******************************************************************************/

.chart-bar {
    -fx-bar-fill: CHART_COLOR_1;
    -fx-background-color:   linear-gradient(to right,
                                derive(-fx-bar-fill, -4%),
                                derive(-fx-bar-fill, -1%),
                                derive(-fx-bar-fill, 0%),
                                derive(-fx-bar-fill, -1%),
                                derive(-fx-bar-fill, -6%)
                              );
    -fx-background-insets: 0;
}
.chart-bar.negative {
    -fx-background-insets: 1 0 0 0;
}
.bar-chart:horizontal .chart-bar {
    -fx-background-insets: 0 0 0 1;
}
.bar-chart:horizontal .chart-bar,
.stacked-bar-chart:horizontal .chart-bar {
    -fx-background-color:   linear-gradient(to bottom,
                                derive(-fx-bar-fill, -4%),
                                derive(-fx-bar-fill, -1%),
                                derive(-fx-bar-fill, 0%),
                                derive(-fx-bar-fill, -1%),
                                derive(-fx-bar-fill, -6%)
                              );
}
.default-color0.chart-bar { -fx-bar-fill: CHART_COLOR_1; }
.default-color1.chart-bar { -fx-bar-fill: CHART_COLOR_2; }
.default-color2.chart-bar { -fx-bar-fill: CHART_COLOR_3; }
.default-color3.chart-bar { -fx-bar-fill: CHART_COLOR_4; }
.default-color4.chart-bar { -fx-bar-fill: CHART_COLOR_5; }
.default-color5.chart-bar { -fx-bar-fill: CHART_COLOR_6; }
.default-color6.chart-bar { -fx-bar-fill: CHART_COLOR_7; }
.default-color7.chart-bar { -fx-bar-fill: CHART_COLOR_8; }
.bar-legend-symbol {
    -fx-padding: 8px;
}
