.chart {
    -fx-background-image: url("./background.png");
    -fx-padding: 15 25 15 15;
}
.chart-plot-background {
    -fx-background-color: red;
    -fx-background-image: url("./chart-background.png"), url("./graph-gridlines.png");
    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat, repeat;
    -fx-background-position: 0% 0%, 0% 100%;
    -fx-border-color: black black transparent transparent;
}

.chart-title {
  -fx-text-fill: white;
  -fx-font-size: 1.6em;
}

.default-color0.chart-area-symbol {
    -fx-background-color: #66b0ff;
/*    -fx-padding: 0;*/
}
.default-color1.chart-area-symbol {
    -fx-background-color: #ca99ff;
/*    -fx-padding: 0;*/
}
.default-color2.chart-area-symbol {
    -fx-background-color: #4d6680;
/*    -fx-padding: 0;*/
}
.default-color3.chart-area-symbol {
    -fx-background-color: #ff4d4d;
/*    -fx-padding: 0;*/
}
.default-color4.chart-area-symbol {
    -fx-background-color: #ffa366;
/*    -fx-padding: 0;*/
}

.default-color0.chart-series-area-line { 
    -fx-stroke: #ffddcc; 
    -fx-stroke-width: 1px; 
}
.default-color1.chart-series-area-line { 
    -fx-stroke: #f2e6ff; 
    -fx-stroke-width: 1px; 
}
.default-color2.chart-series-area-line { 
    -fx-stroke: #dda0dd; 
    -fx-stroke-width: 1px; 
}
.default-color3.chart-series-area-line { 
    -fx-stroke: #e6f2ff; 
    -fx-stroke-width: 1px; 
}
.default-color4.chart-series-area-line { 
    -fx-stroke: #ffe0cc; 
    -fx-stroke-width: 1px; 
}


.default-color0.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #66b0ff, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.default-color1.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #ca99ff, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.default-color2.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #4d6680, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.default-color3.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #ff4d4d, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.default-color4.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, #ffa366, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}


.axis {
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-tick-length: 3;
    -fx-minor-tick-length: 0;
    -fx-border-color: transparent;
}
.axis:bottom {
    -fx-border-color: black transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent black transparent transparent;
}
.axis Text{
    -fx-fill: white;
}
.tick-mark {
    -fx-font-size: 10px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1 );
}